__pycache__
metastore_db
derby.log
logs/
log/
tmp/
output/
tensorboard/
target/
artifacts/
benchmark/test_single/
dataset/*.pt
.claude/
.metals/
*.pt
*.prompt
*.aux
*.bbl
*.blg
*.out
*.gz
*.xdv
*.fdb_latexmk
*.fls
*.log
*.code-workspace
